<!DOCTYPE html>
<html>
<head>
    <title>FAQ Bot</title>
    <style>

        body{
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin: 0;
            color : #b62dc2;
            background-color: black;
        }

        .btn-container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
       
        .btn{
            height : 40px;
            width: 100px;
            background: #007BFF;
            border: 1px solid #007BFF;
            color: white;
            font-size: 25px;
            cursor: pointer;
            border-radius: 4px 4px 4px 4px;
            padding: 0;
        }
        
    </style>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to FAQ Bot</h1>
        <div class ="btn-container"> 
            <button class ="btn" onclick="window.location.href='/chat'">Start</button>
            <h1 >&rarr;</h1>
        </div>
       
    </div>
</body>
</html>
